@import '../_setup/vars.scss';

.artist-slideshow {
  width: 100%;
  position: relative;
  height: calc(100vh - 96px);
  overflow: hidden;

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 1;
    overflow: hidden;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      
      // Hide alt text before image loads - prevent alt text from showing
      &[data-src]:not([src]),
      &:not(.lazyloaded) {
        color: transparent;
        text-indent: -9999px;
        font-size: 0;
        line-height: 0;
        overflow: hidden;
        // Use a transparent background to prevent any text from showing
        background-color: transparent;
      }
      
      // Show image once lazyloaded class is added by lazysizes
      &.lazyloaded {
        color: initial;
        text-indent: 0;
        font-size: initial;
        line-height: initial;
      }
    }
    
    &--active {
      opacity: 1;
      z-index: 2;
    }
  }
  
  &__title {
    position: absolute;
    bottom: 80px;
    right: 20px;
    z-index: 10;
    background: black;
    color: white;
    padding: 10px 20px;  
    @include font-intro-s;
    display: block;
    width: max-content;
    max-width: 80%;
    
    a {
      color: white;
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.artist-slideshow-empty {
  width: 100%;
  height: calc(100vh - 96px);
  background: #f0f0f0;
}

@media screen and (max-width: 800px) {
  .artist-slideshow {
    
    &__title {
      bottom: 67px;
      right: 10px;
      padding: 8px 15px;
      font-size: 1rem;
    }
  }
  
  .artist-slideshow-empty {
    height: 50vh;
  }
}


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}