

.header__burger {
    width: 80px;
    height: 100px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 30px;
}
.header__burger div {
    width: 100%;
    height: 4px;
    background-color: black;
}
.header__burger div:nth-child(1) {
    transform: translateY(0px);
    transition-property: transform;
    transition-duration: 0.65s;
    transition-timing-function: cubic-bezier(.075,.82,.165,1);
}
.header__burger div:nth-child(2) {
    transform: translateY(10px);
    transition-property: transform;
    transition-duration: 0.65s;
    transition-timing-function: cubic-bezier(.075,.82,.165,1);
}
.header__burger div:nth-child(3) {
    transform: translateY(20px);
    transition-property: transform;
    transition-duration: 0.65s;
    transition-timing-function: cubic-bezier(.075,.82,.165,1);
}

/* Active State */
.header__burger.active div {

}
.header__burger.active div:nth-child(1) {
    transform: translateY(-10px);
    transition-property: transform;
    transition-duration: 0.65s;
    transition-timing-function: cubic-bezier(.075,.82,.165,1);
}
.header__burger.active div:nth-child(2) {
    transform: translateY(10px);
    transition-property: transform;
    transition-duration: 0.65s;
    transition-timing-function: cubic-bezier(.075,.82,.165,1);
}
.header__burger.active div:nth-child(3) {
    transform: translateY(30px);
    transition-property: transform;
    transition-duration: 0.65s;
    transition-timing-function: cubic-bezier(.075,.82,.165,1);
}

@media screen and (max-width: 800px) {

}