@import "../../../_setup/vars.scss";

.about-us-section--logos {
    margin: $margin auto;
    width: 100%;
    aspect-ratio: $cinema-scope-slider;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;


    @include sm {
        aspect-ratio: $cinema-scope-slider-reversed;
    }
    @include mm {
        aspect-ratio: $cinema-scope-slider-reversed;
    }

    .section-body-text {
        flex-shrink: 0;
        margin-bottom: $spacing-xl;
    }

    .section-logos-grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: $padding-md;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        min-height: 0;
        overflow-y: auto;
        padding: $headerHeight $margin-side;
        box-sizing: border-box;

        @include sm {
            padding: 0;
            gap: $padding-xs;
        }

        @include mm {
            padding: 0;
        }

        @include lg {
            padding: $headerHeight-desktop $margin-side-desktop;
        }
    }
    
    .section-logo-item {
        flex: 0 0 auto;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: opacity $transition-base;
        padding: calc(#{$spacing-sm} * 1.21);

        @include sm {
            padding: calc(#{$spacing-sm} * 0.55);
        }
        @include mm {
            padding: calc(#{$spacing-sm} * 0.55);
        }
    
        &.isLandscape {
            max-width: calc($margin-side * 3);
            width: calc($margin-side * 3);
            max-height: calc($margin-side * 2);
            height: 100%;

            @include sm {
                max-width: calc($margin-side-mobile * 2.2);
                width: calc($margin-side-mobile * 2.2);
                max-height: calc($margin-side-mobile *1.5);
            }

            @include mm {
                max-width: calc($margin-side-tablet * 2.5);
                width: calc($margin-side-tablet * 2.5);
                max-height: calc($margin-side-tablet * 1.8);
            }

            @include lg {
                max-width: calc($margin-side-desktop * 3.5);
                width: calc($margin-side-desktop * 3.5);
                max-height: calc($margin-side-desktop * 2.5);
            }
        }
    
        &.isPortrait {
            max-width: 100%;
            max-height: calc($margin-side * 2.2);
            height: calc($margin-side * 2.2);

            @include sm {
                max-height: calc($margin-side-mobile * 1.5);
                height: calc($margin-side-mobile * 1.5);
            }

            @include mm {
                max-height: calc($margin-side-tablet * 1.8);
                height: calc($margin-side-tablet * 1.8);
            }

            @include lg {
                max-height: calc($margin-side-desktop * 2.5);
                height: calc($margin-side-desktop * 2.5);
            }
        }
        
        &:hover {
            opacity: 1;
        }
        
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            filter: brightness(0) invert(1); 
        }
    }
}

