@font-face {
    font-family: 'macRegular';
    src: url('/fonts/Macan-Regular.woff') format('woff')
}
@font-face {
    font-family: 'macBold';
    src: url('/fonts/Macan-Extrabold.woff') format('woff')
}

@font-face {
    font-family: 'intlS';
    src: url('/fonts/SuisseIntlCond-Regular-WebS.woff') format('woff')
}
@font-face {
    font-family: 'intlXL';
    src: url('/fonts/SuisseIntlCond-Regular-WebXL.woff') format('woff')
}