@import "./vars.scss";

.rte {
  .heading-styled-as-h2 {
    @include font-h2; 
  }

  .heading-styled-as-h3 {
    @include font-h3;
  }

  .heading-styled-as-h4 {
    @include font-h4;
  }

  .heading-styled-as-h5 {
    @include font-h5;
  }


  blockquote {
    @include font-quote;
    margin: 20px 0;
  }
}
