@import './breakpoints.scss';

:root {
    --headerHeight: 100px;
    --footerHeight: 25px;
    --headerAside: 340px;
    --navHeight: 50px;
    --borderWidth: 2px;
    --flagSize: clamp(2rem, 1.5rem + 2vw + 2vh, 3.1rem);
}

@mixin font-flag {
    font-family: 'macRegular', sans-serif;
    font-size: var(--flagSize);
    line-height: 1.15;

    @include sm {
        line-height: 1.25;
        font-size: 2.5rem;
    }
}

@mixin font-small {
    font-family: 'macRegular', sans-serif;
    font-size: 1rem;
    line-height: 1.2;
}

@mixin font-regular {
    font-family: 'macRegular', sans-serif;
    font-size: 1.2rem;
    line-height: 1.2;
}

@mixin font-h2 {
    font-family: 'macBold', sans-serif;
    font-size: 3rem;
    line-height: 1.2;

    @include sm {
        font-size: 2.2rem;
    }
}

@mixin font-h3 {
    font-family: 'macBold', sans-serif;
    font-size: 2rem;
    line-height: 1.2;

    @include sm {
        font-size: 1.8rem;
    }
}


@mixin font-h4 {
    font-family: 'macBold', sans-serif;
    font-size: 3rem;
    line-height: 1.2;

    @include sm {
        font-size: 2.2rem;
    }
}



@mixin font-h5 {
    font-family: 'macBold', sans-serif;
    font-size: 2rem;
    line-height: 1.2;

    @include sm {
       font-size: 1.8rem;
    }
}


@mixin font-quote {
    font-family: 'macRegular', sans-serif;
    font-size: 2.4rem;
    line-height: 1.2;

    @include sm {
        font-size: 2rem;
    }
}

@mixin font-intro-m {
    font-family: 'intlXL', sans-serif;
    font-size: 2rem;
    line-height: 1.3;

    @include sm {
        font-size: 1.8rem;
    }
}

@mixin font-intro-s {
    font-family: 'intlXL', sans-serif;
    font-size: 1.5rem;
    line-height: 1.2;
}