.background {
    position: relative; 
    top: 0;
    left: 0;
    overflow: hidden;
    background: #F0C7E7;
    z-index: -10;
    pointer-events: none;
}

.background__isolate {
    isolation: isolate;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
}

.background__item {
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 999px;
    mix-blend-mode: screen;
    transition: transform 400ms linear;
    z-index: -10 !important;
    pointer-events: none;
}