@import "../../_setup/vars.scss";

.page--event {
    display: flex;
    flex-direction: column;

    .trailer-grids-slider-wrapper {
        margin-left: auto;
        margin-right: auto;
        flex-shrink: 0;
    }
}
