@import '../_setup/vars.scss';
.modules {
    position: relative;
    // margin-top: 100px;
    // border-top: solid var(--borderWidth) black;
}
.module {
    position: relative;
    border-bottom: solid var(--borderWidth) black;
}

.frontpage-modules {
    .modules {
        border-top: solid var(--borderWidth) black;
    }
}
.module__flag {
    position: absolute;
    top: 0;
    left: calc(var(--headerAside) * -1);
    width: var(--headerAside);
    text-align: right;
    padding-right: var(--borderWidth);
    @include font-flag;

    span {
        display: inline;
        background-color: black;
        color: white;
        padding: 6px 0;
    }
}


@media only screen and (max-width: 800px) { 
    .modules {
        position: relative;
        width: 100%;
        margin-left: 0;
        border-left: none;
    }
    .module__flag {
        position: relative;
        top: auto;
        left: auto;
        width: 100%;
        text-align: left;
        padding-right: var(--borderWidth);
        max-width: 85%;
        span {
            display: inline;
            background-color: black;
            color: white;
            padding: 6px 0;
        }
    }
    
}