@import "@/components/_setup/breakpoints.scss";
@import "@/components/_setup/vars.scss";

.tabs__nav {
    top: var(--headerHeight);
    width: var(--headerAside);
    height: calc(100vh - var(--headerHeight));
    background-color: white;
    border-right: var(--borderWidth) solid black;
    overflow-y: scroll;
    z-index: 1;
    transition: top 0.2s ease;
    
    &--stuck {
       margin-left: calc(calc(-1 * var(--headerAside)) - var(--borderWidth));
       border-right: 0 solid black;
    }

    ul {
        padding-bottom: calc(50px - var(--borderWidth));
        // border-bottom: var(--borderWidth) solid black;
    }

    @include sm {
        display: none;
    }
}

.tabs__nav__cats {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    background: black;
    margin-top: 10px;
    margin-left: -10px;

    li {
        color: white;
        border: var(--borderWidth) solid white;
        padding: 5px 10px;

        &:hover {
            background-color: white;
            border: var(--borderWidth) solid white;
            color: black;
        }

        &.active {
            background-color: white;
            border: var(--borderWidth) solid white;
            color: black;
        }
    }

    li.true {
        background: white;
        color: black;
    }
}

.tabs__nav__item {
    width: 100%;
    padding: 20px 20px;
    border-bottom: var(--borderWidth) solid black;
    cursor: pointer;

    &:hover {
        background-color: black;
        color: white;
    }

    &.true {
        background: black;
        color: white;
    }
    
    &.active {
        background-color: black;
        color: white;
    }
} 

.tabs__content {
    flex: 1;
} 

.subtitle {
    background-color: white;
    border-bottom: var(--borderWidth) solid black;
    padding: 20px 20px 20px 20px;
    @include font-h2;
}

.mobile-categories {
    display: none;

    @include sm {
        display: block;
        margin-bottom: 20px;
        background: black;
    }

    &__title {
        background: black;
        color: white;
        padding: 20px;
        margin: 0;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        width: 100%;
        margin: 0;
        padding: 0px 10px 40px 10px;
        list-style: none;
    }

    &__item {
        padding: 5px 10px;
        background: black;
        color: white;
        border: var(--borderWidth) solid white;
        cursor: pointer;
        transition: all 0.2s ease;
        width: fit-content;
        
        &.active {
            background: white;
            color: black;
            border: var(--borderWidth) solid white;
        }
    }
}

// Archive-specific styles
.article-meta {
    padding: 20px;
    background: #f5f5f5;
    border-bottom: var(--borderWidth) solid black;
}

.article-article-header {
    @include font-regular;
    margin-bottom: 10px;
}
