@import "../../_setup/vars.scss";

.hero-slider {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: $radius-lg;
  overflow: hidden;
  
  &--empty {
    background: #f0f0f0;
    min-height: 300px;
  }
  
  &--single {
    width: 100%;
    height: 100%;
  }
  
  &__slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    
    &--active {
      opacity: 1;
      position: relative;
    }
  }
  
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

