@import '../../_setup/vars.scss';

.artists {
    background-color: white;
}

.artists__item {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: var(--borderWidth) solid black;
    img {
        height: 180px;
    }
}
.artists__item__title {
    @include font-h3;
}
.artists__item__subtitle {
    @include font-regular;
}