@import "../../_setup/vars.scss";
.moduleLink {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80px;
    padding: 20px 0;
}
.moduleLink__button {
    @include font-h3;
    background: white;
    color: black;
    padding: 10px 20px 5px;
    border: solid var(--borderWidth) black;
    max-width: 70%;

    &:hover {
        background: black;
        border: var(--borderWidth) solid black;
        color: white;
    }

    @include sm {
    max-width: 95%;
    }
}