@import '../../_setup/vars.scss';

.moduleText {
    position: relative;
    background-color: white;
}

.moduleText__debug {
    padding: 20px;
    margin: 20px 0;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 4px;
    
    p {
        margin-bottom: 10px;
        color: #666;
    }
    
    pre {
        font-family: monospace;
        font-size: 0.9rem;
        overflow: auto;
    }
}

.moduleText__inner {
    padding: 40px 40px 40px 20px;
    max-width: 1200px;

    @include font-regular;
    
    p {
        margin: 0 0 20px;
        
        &:last-child {
            margin-bottom: 0;
        }
    }

    br {
        margin: 0 0 20px;
    }
    
    h2 {
        @include font-h2;
        margin: 20px 0 0px;
        
        &:first-child {
            margin-top: 0;
        }
    }
    
    h3 {
        @include font-h3;
        margin: 20px 0 10px;
        
        &:first-child {
            margin-top: 0;
        }
    }
    
    blockquote {
        @include font-quote;     
        margin: 20px 0;
    }
    
    strong {
        font-family: 'macBold', sans-serif;
        font-weight: normal;
    }
    
    em {
        font-style: italic;
    }
    
    a {
        text-decoration: underline;
    
        &[href^="http"], &[href^="https"] {
            &::after {
                content: " ↗";
                text-decoration: none;
                display: inline-block;
            }
        }
        
        &[href^="mailto"] {
            &::after {
                content: " ↑";
                text-decoration: none;
                display: inline-block;
            }
        }
        
        &:not([href^="http"]):not([href^="https"]):not([href^="mailto"]) {
            &::after {
                content: " →";
                text-decoration: none;
                display: inline-block;
            }
        }
    }

    ul, ol {
        margin: 20px 0 20px 20px;
        
        li {
            margin-bottom: 10px;
            
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    
    ul {
        list-style-type: disc;
    }
    
    ol {
        list-style-type: decimal;
    }
}

@media screen and (max-width: 800px) {
    .moduleText__inner {
        padding-left: 20px;
        
        @include font-small;
        
        h2 {
            @include font-h2;
        }
        
        h3 {
            @include font-h3;
        }
        
        blockquote {
            @include font-quote;
        }
    }
}

