@import "../../_setup/vars.scss";

@mixin menu-button {
    @include font-size-s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $padding-xxs $padding-xs;
    text-decoration: none;
    color: $color-white;
    text-transform: uppercase;
    transition: all $transition-base;
    text-align: center;
    border: $border-width solid transparent;
    border-radius: $radius-sm;
    background-color: transparent;
    
    &:hover {
        color: $color-white;
        border-color: $color-accent-gold;
        background: $color-accent-gold;
    }
}

.modal-slider {
    width: 100%;
    max-width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow: visible;
    box-sizing: border-box;
    z-index: 1;
    justify-content: center;
    margin-top: calc(#{$headerHeight} * -3);

    .swiper-wrapper{
        aspect-ratio: $cinema-scope-slider;
    }

    &__header {
        text-align: center;
        padding: 0 $spacing-lg;
        max-width: 800px;
        margin: 0 auto $spacing-lg auto;
        flex-shrink: 0;
        @include titleHeight;
        margin: calc(#{$margin-side} * 1.5) auto  calc(#{$margin-side} * 0.5) auto;
        justify-content: flex-end;
        display: flex;
        flex-direction: column;
        
    
        @include sm {
            padding:calc(#{$margin-side-mobile} * 1.5) auto  calc(#{$margin-side-mobile} * 0.5) auto;
        }
    
        @include mm {
            padding:calc(#{$margin-side-tablet} * 1.5) auto  calc(#{$margin-side-tablet} * 0.5) auto;
        }
    
        @include lg {
            padding:calc(#{$margin-side-desktop} * 1.5) auto  calc(#{$margin-side-desktop} * 0.5) auto;
        }
    }

    &__title {
        @include font-h3;
        color: $color-white;
        text-transform: uppercase;
    }

    &__swiper {
        width: 100%;
        aspect-ratio: $cinema-scope-slider;
        overflow: visible;
        padding: 0;
        flex-shrink: 0;
        display: flex;
        align-items: center;
    }

    &__slide {
        width: auto;
        max-width: 80vw;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: scale(0.5);
        transition: transform $transition-slow;
        transform-origin: center center;

        @include sm {
            max-width: 90vw;
        }  

        &.swiper-slide-active {
            transform: scale(1);
            z-index: 10;
        }
        
        &.swiper-slide-prev,
        &.swiper-slide-next {
            transform: scale(0.5);
            z-index: 1;
            filter: brightness(0.5);
        }
    }

    &__slide-content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: $padding-sm;
        position: relative;
    }

    &__alt {
        @include font-size;
        color: $color-accent;
        text-align: center;
        margin: 0;
        max-width: 100%;
        flex-shrink: 0;
    }

    &__counter {
        position: fixed;
        top: 0;
        left: calc(#{$margin-side} * 2);
        width: calc(#{$margin-side} * 2);
        padding-left: $gap;
        height: $headerHeight;
        display: flex;
        align-items: center;
        z-index: 999;
        pointer-events: none;
        transition: opacity $transition-base, visibility $transition-base;
        
        span {
            background-color: $color-dark-grey;
            color: $color-light-grey;
            border: none;
            border-radius: $radius-sm;
            cursor: pointer;
            transition: background-color $transition-base;
            height: $burger;
            width: calc(#{$burger} * 2);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            box-sizing: border-box;
            padding-top: calc(#{$padding-xs} * 0.2);
            @include font-size-s;
            font-weight: 700;
            @include sm {
                height: $burger-mobile;
                width: calc(#{$burger-mobile} * 2);
            }
            @include mm {
                height: $burger-mobile;
                width: calc(#{$burger-mobile} * 2);
            }
            @include lg {
                height: $burger-desktop;
                width: calc(#{$burger-desktop} * 2);
            }
        }

        @include sm {
            width: calc(#{$margin-side-mobile} * 2);
            left: calc(#{$margin-side-mobile} * 2);
        }
    
        @include mm {
            padding: 0 $margin-side-tablet 0 0;
            left: calc(#{$margin-side-tablet} * 2);
        }
    
        @include lg {
            height: $headerHeight-desktop;
            padding: 0 $margin-side-desktop 0 0;
            width: calc(#{$margin-side-desktop} * 2);
            left: calc(#{$margin-side-desktop} * 2);
        }
    }


    .bodyText {
        @include font-size;
        
        p {
            color: $color-accent;
            padding: 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.modal-slider .swiper-button-next,
.modal-slider .swiper-button-prev {
    color: $color-white;
    width: $burger;
    height: $burger;
    z-index: 1001;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);

    @include sm {
        width: $burger-mobile;
        height: $burger-mobile;
    }
    @include mm {
        width: $burger-mobile;
        height: $burger-mobile;
    }
    @include lg {
        width: $burger-desktop;
        height: $burger-desktop;
    }
    
    &:after {
        font-size: $font-size;
        background-color: $color-dark;
        border: none;
        border-radius: $radius-sm;
        cursor: pointer;
        transition: background-color $transition-base;
        width: $burger;
        height: $burger;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        box-sizing: border-box;
        font-weight: $font-weight-bold;
        -webkit-text-stroke: 0.5px currentColor;
        text-shadow: 0.5px 0 0 currentColor, -0.5px 0 0 currentColor, 0 0.5px 0 currentColor, 0 -0.5px 0 currentColor;
   
        @include sm {
            width: $burger-mobile;
            height: $burger-mobile;
        }
        @include mm {
            width: $burger-mobile;
            height: $burger-mobile;
        }
        @include lg {
            width: $burger-desktop;
            height: $burger-desktop;
        }
    }
    
    &:hover {
        color: $color-accent-gold;
    }
    
    &.swiper-button-disabled {
        opacity: $opacity-disabled;
        cursor: not-allowed;
        
        &:hover {
            color: $color-white;
        }
        
        &:after {
            cursor: not-allowed;
        }
    }
}

.modal-slider .swiper-button-prev {
    left: calc($margin-side + $padding-xs);

    @include sm {
        left: calc($margin-side-mobile + $padding-xs);
    }

    @include mm {
        left: calc($margin-side-tablet + $padding-xs);
    }
    @include lg {
        left: calc($margin-side-desktop + $padding-xs);;
    }
}

.modal-slider .swiper-button-next {
    right: $margin-side;
}

.modal-slider .swiper-pagination {
    position: fixed !important;
    bottom: $spacing-xl !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    z-index: 1001 !important;
}

.modal-slider .swiper-pagination-bullet {
    background: $color-white;
    opacity: 0.5;
    
    &.swiper-pagination-bullet-active {
        opacity: 1;
        background: $color-accent-gold;
    }
}

.project-module-image {
    width: 100%;
    height: 100%;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    clip-path: inset(0 round $radius-slider);
    @include sm {
        clip-path: inset(0 round $radius-slider-mobile);
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        clip-path: inset(0 round $radius-slider);
        @include sm {
            clip-path: inset(0 round $radius-slider-mobile);
        }
    }
}

.project-module-vimeo {
    width: 100%;
    min-width: 60vw;
    height: 100%;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    pointer-events: auto;
    clip-path: inset(0 round $radius-slider) !important;
    border-radius: $radius-slider !important;
    overflow: hidden !important;
    @include sm {
        clip-path: inset(0 round $radius-slider-mobile) !important;
        border-radius: $radius-slider-mobile !important;
    }

    @include mobile {
        min-width: 90vw;
    }

    &__thumbnail {
        border: none;
        background: transparent;
        cursor: pointer;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        clip-path: inset(0 round $radius-slider) !important;
        border-radius: $radius-slider !important;
        overflow: hidden !important;
        @include sm {
            clip-path: inset(0 round $radius-slider-mobile) !important;
            border-radius: $radius-slider-mobile !important;
        }

        img {
            width: 100%;
            height: 100%;
            clip-path: inset(0 round $radius-slider) !important;
            border-radius: $radius-slider !important;
            @include sm {
                clip-path: inset(0 round $radius-slider-mobile) !important;
                border-radius: $radius-slider-mobile !important;
            }
        }
    }

    &__play-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
        z-index: 1;
        
        svg {
            width: 100%;
            height: $burger;
            transition: all $transition-base;
            @include sm {
                width: $burger-mobile;
           
            }
            @include mm {
                width: $burger-mobile;
        
            }
            @include lg {
                width: $burger-desktop;
              
            }

            path {
                transition: fill $transition-base;
            }
        }
    }

    &__thumbnail:hover &__play-button svg path {
        fill: $color-accent-gold;
    }

    &__iframe-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        clip-path: inset(0 round $radius-slider) !important;
        border-radius: $radius-slider !important;
        overflow: hidden !important;
        @include sm {
            clip-path: inset(0 round $radius-slider-mobile) !important;
            border-radius: $radius-slider-mobile !important;
        }

        iframe {
            border: 0;
            clip-path: inset(0 round $radius-slider) !important;
            border-radius: $radius-slider !important;
            @include sm {
                clip-path: inset(0 round $radius-slider-mobile) !important;
                border-radius: $radius-slider-mobile !important;
            }
        }
    }

    &__unmute {
        position: absolute;
        bottom: calc(#{$margin} *1);
        border: none;
        left: calc(#{$margin} * 2);
        background: $color-dark;
        border-radius: $radius-sm;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all $transition-base;
        z-index: 10;
        @include font-size-xs;
        text-transform: uppercase;
        color: $color-white;
        font-weight: 700 !important;
        padding: $padding-xs $padding-sm $padding-xxs $padding-sm;
        transform: scale(0.8);
        &:hover {
            background: $color-accent-gold;
        }
        @include sm {
            transform: scale(1);
            left: calc(#{$margin} * 5);
        }
        @include mm {
            transform: scale(1);
        }
        @include lg {
            transform: scale(1);
        }
    }
}

.project-module-video {
    width: 100%;
    min-width: 60vw;
    height: 100%;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    pointer-events: auto;

    @include mobile {
        min-width: 90vw;
    }

    &__wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
    }
    
    &__element {
        object-fit: contain;
        display: block;
        clip-path: inset(0 round $radius-slider);
        @include sm {
            clip-path: inset(0 round $radius-slider-mobile);
        }
    }

    &__unmute {
        position: absolute;
        bottom: calc(#{$margin} /2);
        border: none;
        left: calc(#{$margin} * 2);
        background: $color-dark;
        border-radius: $radius-sm;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all $transition-base;
        z-index: 10;
        @include font-size-xs;
        text-transform: uppercase;
        color: $color-white;
        font-weight: 700 !important;
        padding: $padding-xs $padding-sm $padding-xxs $padding-sm;

        &:hover {
            background: $color-accent-gold;
        }
    }
}

.project-module-slider {
    width: 100%;
    height: 100%;
    flex: 1 1 auto;
    clip-path: inset(0 round $radius-slider);
    @include sm {
        clip-path: inset(0 round $radius-slider-mobile);
    }

    &__slide {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
            height: 100%;
            max-height: 100%;
            object-fit: contain;
            clip-path: inset(0 round $radius-slider);
            @include sm {
                clip-path: inset(0 round $radius-slider-mobile);
            }
        }
    }
}

.vp-centerm, #player {
    clip-path: inset(0 round $radius-slider) !important;
    border-radius: $radius-slider !important;
    @include sm {
        clip-path: inset(0 round $radius-slider-mobile) !important;
        border-radius: $radius-slider-mobile !important;
    }
}