@import "../../_setup/vars.scss";

.modal-overlay {
    position: fixed;
    top: $headerHeight;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.95) 0%, rgba(37, 36, 36, 0.95) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 998;
    padding: 0;
    overflow: hidden;
    transform: translateY(100vh);
    transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    will-change: transform;
    min-height: calc(100vh - #{$headerHeight});
    max-height: calc(100vh - #{$headerHeight});
    
    @include lg {
        top: $headerHeight-desktop;
    }
    
    &--open {
        transform: translateY(0);
    }
    
    &--closing {
        transform: translateY(100vh);
    }
    
    .swiper-pagination {
        display:none;
    }
}

body.menu-open .modal-overlay {
    pointer-events: none;
    z-index: 100;
}

.modal-overlay--menu-open {
    pointer-events: none;
    z-index: 100;
}

.modal-content {
    width: 100%;
    height: 100%;
    overflow: visible;
    position: relative;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;

}

.modal-close-wrapper {
    position: fixed;
    top:0;
    left: calc(#{$margin-side} * 1);
    width: calc(#{$headerAside} / 2);
    height: $headerHeight;
    display: flex;
    align-items: center;
    padding: 0 $margin-side 0 0;
    z-index: 999;
    pointer-events: none;
    transition: opacity $transition-base, visibility $transition-base;

    @include sm {
        width: calc(#{$headerAside} / 5);
        left: calc(#{$margin-side-mobile} * 1);
    }

    @include mm {
        padding: 0 $margin-side-tablet 0 0;
        left: calc(#{$margin-side-tablet} * 1);
    }

    @include lg {
        height: $headerHeight-desktop;
        padding: 0 $margin-side-desktop 0 0;
        width: calc(#{$headerAside} / 1.6);
        left: calc(#{$margin-side-desktop} * 1);
    }
}


body.menu-open .modal-close-wrapper {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-close {
    width: $burger;
    height: $burger;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    box-sizing: border-box;
    background-color: $color-dark;
    border: none;
    border-radius: $radius-sm;
    cursor: pointer;
    transition: background-color $transition-base;
    pointer-events: all;

    @include sm {
        width: $burger-mobile;
        height: $burger-mobile;
    }

    @include mm {
        width: $burger-mobile;
        height: $burger-mobile;
    }

    @include lg {
        width: $burger-desktop;
        height: $burger-desktop;
    }

    div {
        position: absolute;
        left: 50%;
        top: 50%;
        width: calc(100% - calc($burger / 2.4));
        height: calc($burger / 12);
        background-color: $color-white;
        border-radius: 1px;
        transform-origin: center;
        transition: transform $transition-base, opacity $transition-base, background-color $transition-base;
    
        @include sm {
            width: calc(100% - calc($burger-mobile / 2.4));
            height: calc($burger-mobile / 12);
        }

        @include mm {
            width: calc(100% - calc($burger-mobile / 2.4));
            height: calc($burger-mobile / 12);
        }
        @include lg {
            width: calc(100% - calc($burger-desktop / 2.4));
            height: calc($burger-desktop / 12);
        }
    }

    div:nth-child(1) {
        transform: translate(-50%, 0) rotate(45deg);
    }

    div:nth-child(2) {
        opacity: 0;
    }

    div:nth-child(3) {
        transform: translate(-50%, 0) rotate(-45deg);
    }

    &:hover {
        background-color: $color-accent-gold;

        div {
            background-color: $color-dark;
        }
    }
}

.modal-title {
    @include font-h2;
    color: $color-white;
    text-transform: uppercase;
}

.modal-body-text {
    color: $color-white;
}

