@import "../_setup/vars.scss";

.hero {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background: transparent;
    margin: auto;
    padding: 0;
    flex-shrink: 0;
    position: relative;
    min-height: 0;
    box-sizing: border-box;

    @include sm {
        justify-content: center;   
    }
}

.hero__visual {
    position: relative;
    width: 100%;
    aspect-ratio: $cinema-scope-slider;
    overflow: hidden;
    margin: 0;
    padding: 0;
    @include sm {
        aspect-ratio: $cinema-scope-slider-reversed;
    }
}

.hero__ticker-wrapper {
    position: relative;
    width: 100%;
    z-index: 100;
    background-color: $color-black;
}

.hero__ticker {
    width: 100%;
    height: 54.5px;
    background-color: $color-black;
    color: $color-white;
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase;
    z-index: 100;
    
    .child {
        margin-right: 30px;
    }
}
