@import "../_setup/vars.scss";

.google-maps {
    width: 100%;
    height: 100%;
    min-height: 400px;
    margin: $spacing-lg 0;

    &__container {
        width: 100%;
        height: 100%;
        min-height: 400px;
        border-radius: 4px;
        overflow: hidden;
    }
}

