@import "../../_setup/vars.scss";

.hero-image {
  width: 100%;
  height: 100%;
  border-radius: $radius-lg;
  overflow: hidden;
  
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

