@import "../_setup/vars.scss";

.hero {
    width: 100%;
    height: calc(100vh - 95px);
}

.hero__visual {
    position: relative;
    width: 100%;
    height: calc(100% - 55.5px);
    
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.hero__visual__text {
    position: absolute;
    top: calc(-1 * var(--headerHeight));
    left: calc(var(--headerAside) - var(--borderWidth));
    width: 540px;
    font-size: 4rem;
    // line-height: 1;
    z-index: 999;
    overflow: hidden;
    span {
        background: black;
        color: white;
        padding: 10px 0;
    }
    small {
        background: black;
        color: white;
        padding: 10px 0;  
        @include font-intro-m;
        display: block;
        width: max-content;
    }
}
.hero__ticker {
    @include font-h3;
    width: 100%;
    height: 54.5px;
    z-index: 9;
    background-color: black;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase;
    .child {
        margin-right: 30px;
    }
}
@media screen and (max-width: 800px) {
    .hero__visual__text {
        top: 0;
        left: 0;
        width: 80%;
        font-size: 3rem;
        z-index: 50;
    }
}