@import '../../_setup/vars.scss';

.page--article {
  .article-header {
    background-color: white;
    padding: 0;
    padding: 40px 20px 20px 20px;
    border-bottom: var(--borderWidth) solid black;
  }

  .article-title {
    @include font-h2;
    margin-bottom: 10px;
  }

  .article-subtitle {
    @include font-h3;
    margin-bottom: 15px;
    color: #333;
  }

  .article-date {
    @include font-small;
    margin-bottom: 10px;
    color: #666;
    margin-left: calc(var(--headerAside) / 4) !important;
  }

  .article-archive-date {
    position: relative;
    background-color: white;
    padding: 40px 40px 40px 20px;
    max-width: 1200px;
    margin: 0;
    border-top: var(--borderWidth) solid black;

    @include font-regular;

    &::before {
      content: attr(data-label);
      display: block;
      @include font-h3;
      margin-bottom: 15px;
    }
  }

  .article-content {
    padding: 40px 20px;
    background-color: white;
    position: relative;
  }

  .article-no-content {
    padding: 40px 20px;
    text-align: center;
    color: #666;

  }

  .article-modules {

    h2 {
      @include font-h2;
      margin-bottom: 20px;
    }
  }

}


.article-archive-date {
  display: none;
}

.article-meta {
  background-color: white;
  padding: 0;
  padding: 40px 20px 40px 20px;
  border-bottom: var(--borderWidth) solid black;

  .article-article-header {
    @include font-small;
    color: #666;
  }

}

.back-button {
  width: calc(var(--headerAside) / 4) !important;
  left: 0 !important;
  height: 91px !important;
  margin-bottom: 0 !important;
  position: absolute;

  @include font-h3;
  background: transparent;
  color: black;
  padding: 5px 26.5px 5px;
  background-color: white;
  border-width: 0 var(--borderWidth) var(--borderWidth) 0;
  border-color: black;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    background-color: black !important;
    color: white;
  }

}