@import "../../_setup/vars.scss";

.hero-video {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: $radius-lg;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  
  &__poster {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
  }
  
  &__poster-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  &__play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: transform 0.2s ease;
    z-index: 2;
    
    &:hover {
      transform: translate(-50%, -50%) scale(1.1);
    }
    
    svg {
      display: block;
    }
  }
  
  &__player {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  &__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    display: block;
    margin: 0;
    padding: 0;
  }
}

