
.moduleBanner {
    background: white;
    .slide {
        width: 200px;
        height: 200px;
        padding: 20px;
        border-right: solid var(--borderWidth) black;
    
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}