@import "../../../_setup/vars.scss";

.wrapper {
    width: 100%;
    height: 100%;
    border-radius: $radius-default;
    background-color: $color-gray;
    color: $color-white;
    padding: $padding-sm $padding-sm;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.wrapper-text-big {
    color: $color-accent-gold;
    @include font-h3;
    font-weight: $font-weight-light;
    line-height: 1.2;
    letter-spacing: $letter-spacing-base;
    padding: $padding-md $padding-sm;
    height: auto;
    transition: opacity $transition-base;
    opacity: 1;
    &:hover {
        opacity: 0.8;
    }
    
    * {
        font-size: inherit;
    }

    @include sm {
        font-size: $font-size-h3-3-mobile !important;
    }   
}

.wrapper-subtitle {
    
    &__title {
        color: $color-white;
        font-family: $font-size-h2;
        padding-bottom: $padding-sm;
        display: block;
    }
    
    &__body {
        @include font-size-s;
    }
    
    &--grey {
        background-color: $color-grey;
        padding: $padding-sm $margin $padding-sm $padding-sm;
    }
    
    &--black {
        background-color: $color-black;
        padding: $padding-sm $margin $padding-sm $padding-sm;
    }
}

.wrapper-title {
    &__text {
        @include font-h2-3;
        color: $color-black;
        padding-right: $margin-side;
        line-height: 1.1;
        padding: $padding-md 0;

        @include sm {
            padding-right: $margin-side-mobile;
        }

        @include mm {
            padding-right: $margin-side-tablet;
        }

        @include lg {
            padding-right: $margin-side-desktop;
        }
    }
}

.wrapper-image {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}

.wrapper-video {
    width: 100%;    
    padding: 0;
    margin: 0;
    border-radius: $radius-lg;
    overflow: hidden;
    position: relative;
    
    &__thumbnail {
        position: relative;
        cursor: pointer;
        width: 100%;
        height: 100%;
        overflow: hidden;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }
    
    &__play-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
        transition: transform $transition-base;
        
        svg {
            display: block;
        }
    }
    
    &__thumbnail:hover &__play-button {
        transform: translate(-50%, -50%) scale(1.1);
    }
    
    &__player {
        width: 100%;
        position: relative;
    }
    
    &__video {
        width: 100%;
        height: auto;
        display: block;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        object-position: center center;
    }
}

