@import "../../_setup/vars.scss";

.leichte-sprache {
  .intro {
    border-bottom: none !important;
  }
}

.moduleItemsList {
  position: relative;
  margin-bottom: 8rem;

  &__inner {
    margin: 0 auto;

  }

  &__item {
    margin-bottom: 4rem;
    padding: 40px 40px 40px 20px;
    border-bottom: solid var(--borderWidth) black;
    border-top: solid var(--borderWidth) black;
    background-color: white;


    .rte {
      font-size: 1.125rem;
      line-height: 1.8;
      color: black;

      p {
        margin-bottom: 1rem;
      }
    }

    p {
      margin: 0 0 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    br {
      margin: 0 0 20px;
    }

    h2 {
      @include font-h2;
      margin: 20px 0 1.5rem 0;

      &:first-child {
        margin-top: 0;
      }
    }

    h3 {
      @include font-h3;
      margin: 20px 0 10px;

      &:first-child {
        margin-top: 0;
      }
    }

    blockquote {
      @include font-quote;
      margin: 20px 0;
    }

    strong {
      font-family: 'macBold', sans-serif;
      font-weight: normal;
    }

    em {
      font-style: italic;
    }

    a {
      text-decoration: underline;

      &[href^="http"],
      &[href^="https"] {
        &::after {
          content: " ↗";
          text-decoration: none;
          display: inline-block;
        }
      }

      &[href^="mailto"] {
        &::after {
          content: " ↑";
          text-decoration: none;
          display: inline-block;
        }
      }

      &:not([href^="http"]):not([href^="https"]):not([href^="mailto"]) {
        &::after {
          content: " →";
          text-decoration: none;
          display: inline-block;
        }
      }
    }

    ul,
    ol {
      margin: 20px 0 20px 20px;

      li {
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    ul {
      list-style-type: disc;
    }

    ol {
      list-style-type: decimal;
    }
  }
}


@media screen and (max-width: 800px) {
  .moduleItemsList {
    padding-left: 20px;

    @include font-small;

    h2 {
      @include font-h2;
    }

    h3 {
      @include font-h3;
    }

    blockquote {
      @include font-quote;
    }
  }
}